

.footerContent {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    align-items: center;
    background-color: var(--primarySalmon);
    border-top: 4px solid #000000ab;
}

.topFooter{
    display: flex;
    padding: 70px 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title{
    font-size: 35px;
    margin: 0;
    color: var(--charcoal);
    line-height: 0.1em;
}

.withUs{
    margin-top: 0;
    font-size: 62px;
    position: relative;
    z-index: 2;

}

.withUs::before{
    display: block;
    content:"";
    left: 50%;
    top: 50%;
    position: absolute;
    width: 120%;
    height: 5px;
    transform: translateX(-50%);
    background-color: white;
    z-index: -1;
}

.collab{
    width: 330px;
    margin-bottom: 30px;
}

.form{
    display:flex;
}

.collabText{
    font-size: 15px;
    color: #767676;
}

.inputs{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

